<div class="starter-template">
  <h1>Qosey</h1>
  <p class="lead">
    Quick. Open. Survey.<br>
    Create your own survey and view the results of your or other surveys.
  </p>
    <div class="row">
    <div class="col-sm-8">
      <app-surveylist></app-surveylist>
    </div>
    <div class="col-sm-4">
      <h3>Use</h3>
      <p>
        There are 3 things you can do:
      </p>
      <ul>
        <li>Create a survey.</li>
        <li>Answer a survey.</li>
        <li>View the results.</li>
      </ul>
      <p>

      </p>
      <button routerLink="../create"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }" type="button" class="btn btn-dark">Create</button>
    </div>
  </div>
</div>