<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-10">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Internet Technologie' van Avans Hogeschool
      Breda.
    </p>
    <h3>Qosey</h3>
    <p>
      Qosey is een Quick Open Survey website waarbij de gebruiker gemakkelijk een survey kan aanmaken. 
      Deze survey kan vervolgens doorgestuurd worden om ingevuld te worden. Iedereen kan survey resultaten bekijken.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Ralf van Aert</h5>
        <p class="card-text">Studentnummer: 3163995</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<p>
  Qosey maakt gebruik van twee entiteiten: Survey en Question. 
      Survey bevat surveyID, survey naam, een lijst met Questions en een lijst met Responses. 
      Een Question bevat een QuestionID, een title (de vraag), answerType en een lijst met answers
</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Survey</p>
    <ul>
      <li>title: string</li>
      <li>surveyId: number</li>
      <li>questions: list&#60;Question&#62;</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Question</p>
    <ul>
      <li>title: string</li>
      <li>id: number</li>
      <li>answerType: int</li>
      <li>answers: list&#60;string&#62;</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img src="assets/images/voorbeeld-datamodel.png" alt="..." />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
