<h1>{{this.survey.title}}</h1>

<div *ngFor="let question of this.survey.questions; let i = index">
    <h5>{{question.title}}</h5>

    <div *ngIf="question.answerType == 0">
        <form>
            <div *ngFor="let option of question.options; let io = index">
                <input type="radio" id="{{option}}" name="option" value="{{option}}" (change)="changeOption($event, i)">
                <label for="{{option}}">{{option}}</label><br>
            </div>
        </form>
    </div>

    <div *ngIf="question.answerType == 1" class="stars">
          <ngb-rating [max]="5" [(rate)]="this.answers[i]" [readonly]="false"></ngb-rating>
    </div>

    <div *ngIf="question.answerType == 2">
        <input type="text" [(ngModel)]="this.answers[i]">
    </div>

    <div *ngIf="question.answerType == 3">
        <input type="number" [(ngModel)]="this.answers[i]">
    </div>
</div>

<button (click)="submit()" type="button" class="btn btn-dark btn-margin">Submit</button>