<h1>{{this.survey.title}}</h1>

<div *ngFor="let question of this.survey.questions; let i = index">
    <h5>{{question.title}}</h5>

    <div *ngIf="question.answerType == 0">
        <div *ngFor="let answerKey of this.answersFormatted[i].keys()">
            <p>{{answerKey}}: {{this.answersFormatted[i].get(answerKey)}} x</p>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="chartDataList[i]"
                [labels]="chartLabels[i]"
                [options]="chartOptions"
                [legend]="chartLegend"
                [plugins]="chartPlugins">
            </canvas>
        </div>
    </div>

    <div *ngIf="question.answerType == 1" class="stars">
        <div *ngFor="let answerKey of this.answersFormatted[i].keys();">
            <p>{{answerKey}} stars: {{this.answersFormatted[i].get(answerKey)}} x</p>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="chartDataList[i]"
                [labels]="chartLabels[i]"
                [options]="chartOptions"
                [legend]="chartLegend"
                [plugins]="chartPlugins">
            </canvas>
        </div>
    </div>

    <div *ngIf="question.answerType == 2">
        <div *ngFor="let answerKey of this.answersFormatted[i].keys()">
            <p>"{{answerKey}}: {{this.answersFormatted[i].get(answerKey)}} x</p>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="chartDataList[i]"
                [labels]="chartLabels[i]"
                [options]="chartOptions"
                [legend]="chartLegend"
                [plugins]="chartPlugins">
            </canvas>
        </div>
    </div>

    <div *ngIf="question.answerType == 3">
        <div *ngFor="let answerKey of this.answersFormatted[i].keys()">
            <p>{{answerKey}}: {{this.answersFormatted[i].get(answerKey)}} x</p>
        </div>
        <div class="chart-wrapper">
            <canvas baseChart
                [datasets]="chartDataList[i]"
                [labels]="chartLabels[i]"
                [options]="chartOptions"
                [legend]="chartLegend"
                [plugins]="chartPlugins">
            </canvas>
        </div>
    </div>
</div>