<div >
    <div>
        <h4>Survey title</h4>
        <h3><input type="text" [(ngModel)]="this.title"></h3>
    </div>

    <h5>Survey questions</h5>
    <div class="survey-item" *ngFor="let question of questions; let i = index;">
        <app-add-question [question]="question" (deleteSelf)="removeQuestion(i)"></app-add-question>
    </div>
    <button (click)="addQuestion()" type="button btn-dark btn-margin" class="btn btn-dark btn-margin">Add question</button>
    <button (click)="submitSurvey()" type="button btn-dark btn-margin" class="btn btn-dark btn-margin">Submit</button>
</div>