<div class="survey-item" *ngFor="let survey of surveys">
    <h5>{{survey.title}}</h5>
    <button routerLink="../answer/{{survey.id}}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }" type="button" class="btn btn-dark btn-margin">Answer</button>
    <button routerLink="../result/{{survey.id}}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }" type="button" class="btn btn-dark btn-margin">Results</button>
</div>
