<input class="btn-margin" type="text" [(ngModel)]="this.title" (ngModelChange)="onQuestionChange()">
<!-- Dropdown menu to select type of question -->
<select class="btn-margin" [(ngModel)]="this.answerTypeString" (ngModelChange)="onQuestionChange()">
    <option *ngFor="let answerType of this.answerTypeStrings; let i = index">
      {{answerType}}
    </option>
</select>
<button class="btn-margin btn-dark" (click)="delete()" type="button" >X</button>
<div *ngIf="this.answerTypeString == 'Multiple Choice'">
    <ul>
        <li *ngFor="let option of this.question.options; let i = index">
          <input class="btn-margin" type="text" [(ngModel)]="this.question.options[i]">
          <button class="btn-margin btn-dark" (click)="deleteOption(i)" type="button" >X</button>
        </li>
    </ul>
    <button class="btn-margin btn-dark" (click)="addOption()" type="button" >Add option</button>
</div>

